nodered/flows/fritz-dect-200-to-influxdb.json
[
  {
      "id": "d4b20020.5f9b2",
      "type": "tab",
      "label": "Fritz DECT 200 to Influx",
      "disabled": false,
      "info": ""
  },
  {
      "id": "b937d1dc.0d101",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "e2778272.e650e",
      "name": "Get power in watt",
      "action": "getSwitchPower",
      "x": 730,
      "y": 120,
      "wires": [
          [
              "a9930154.cd9e7"
          ]
      ]
  },
  {
      "id": "d93616b2.6780a8",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "e2778272.e650e",
      "name": "Get state",
      "action": "getSwitchState",
      "x": 300,
      "y": 180,
      "wires": [
          [
              "779fd0a6.788d8"
          ]
      ]
  },
  {
      "id": "779fd0a6.788d8",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "Return if plug is on",
      "func": "if (msg.payload) {\n    return msg;\n}",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 470,
      "y": 180,
      "wires": [
          [
              "b937d1dc.0d101",
              "fb4f479b.4d8e28",
              "2007e426.6aea0c"
          ]
      ]
  },
  {
      "id": "fb4f479b.4d8e28",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "e2778272.e650e",
      "name": "Get energy in Wh",
      "action": "getSwitchEnergy",
      "x": 730,
      "y": 180,
      "wires": [
          [
              "ba140c61.39a4d"
          ]
      ]
  },
  {
      "id": "2007e426.6aea0c",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "e2778272.e650e",
      "name": "Get temperature",
      "action": "getTemperature",
      "x": 720,
      "y": 240,
      "wires": [
          [
              "8076b1c2.b92e2"
          ]
      ]
  },
  {
      "id": "bda1dd04.d41f8",
      "type": "influxdb out",
      "z": "d4b20020.5f9b2",
      "influxdb": "c038e80e.695a38",
      "name": "",
      "measurement": "fritz_dect",
      "precision": "",
      "retentionPolicy": "",
      "database": "database",
      "precisionV18FluxV20": "ms",
      "retentionPolicyV18Flux": "",
      "org": "organisation",
      "bucket": "bucket",
      "x": 1290,
      "y": 180,
      "wires": []
  },
  {
      "id": "bf4dba5e.a0ec58",
      "type": "link in",
      "z": "d4b20020.5f9b2",
      "name": "",
      "links": [
          "a4eaf74b.049098"
      ],
      "x": 195,
      "y": 180,
      "wires": [
          [
              "d93616b2.6780a8"
          ]
      ]
  },
  {
      "id": "a9930154.cd9e7",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "Prepare power for influxdb",
      "func": "const fields = {\n    \"power\": msg.payload\n};\nconst tags = {\n    'ain': msg.ain\n};\nreturn {\n    'payload': [fields, tags]\n};",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 980,
      "y": 120,
      "wires": [
          [
              "bda1dd04.d41f8"
          ]
      ]
  },
  {
      "id": "ba140c61.39a4d",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "Prepare energy for influxdb",
      "func": "const fields = {\n    \"energy\": msg.payload\n};\nconst tags = {\n    'ain': msg.ain\n};\nreturn {\n    'payload': [fields, tags]\n};",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 980,
      "y": 180,
      "wires": [
          [
              "bda1dd04.d41f8"
          ]
      ]
  },
  {
      "id": "8076b1c2.b92e2",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "Prepare temperature for influxdb",
      "func": "const fields = {\n    \"temperature\": msg.payload\n};\nconst tags = {\n    'ain': msg.ain\n};\nreturn {\n    'payload': [fields, tags]\n};",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 990,
      "y": 240,
      "wires": [
          [
              "bda1dd04.d41f8"
          ]
      ]
  },
  {
      "id": "e2778272.e650e",
      "type": "fritz-api",
      "name": "Fritz Box Cable",
      "host": "http://fritz.box",
      "strictSSL": false
  },
  {
      "id": "c038e80e.695a38",
      "type": "influxdb",
      "hostname": "influxdb",
      "port": "8086",
      "protocol": "http",
      "database": "db0",
      "name": "InfluxDB",
      "usetls": false,
      "tls": "",
      "influxdbVersion": "1.x"
  }
]
