nodered/flows/fritz-dect-200-to-influxdb.json
[
    {
        "id": "d4b20020.5f9b2",
        "type": "tab",
        "label": "Fritz DECT 200 to Influx",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b937d1dc.0d101",
        "type": "fritz-outlet",
        "z": "d4b20020.5f9b2",
        "connection": "2a6c273f.a6a988",
        "name": "Get power in watt",
        "action": "getSwitchPower",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "a9930154.cd9e7"
            ]
        ]
    },
    {
        "id": "d93616b2.6780a8",
        "type": "fritz-outlet",
        "z": "d4b20020.5f9b2",
        "connection": "2a6c273f.a6a988",
        "name": "Get state",
        "action": "getSwitchState",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "779fd0a6.788d8"
            ]
        ]
    },
    {
        "id": "779fd0a6.788d8",
        "type": "function",
        "z": "d4b20020.5f9b2",
        "name": "Return if plug is on",
        "func": "if (msg.payload) {\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "b937d1dc.0d101",
                "fb4f479b.4d8e28",
                "2007e426.6aea0c"
            ]
        ]
    },
    {
        "id": "fb4f479b.4d8e28",
        "type": "fritz-outlet",
        "z": "d4b20020.5f9b2",
        "connection": "2a6c273f.a6a988",
        "name": "Get energy in Wh",
        "action": "getSwitchEnergy",
        "x": 390,
        "y": 180,
        "wires": [
            [
                "ba140c61.39a4d"
            ]
        ]
    },
    {
        "id": "2007e426.6aea0c",
        "type": "fritz-outlet",
        "z": "d4b20020.5f9b2",
        "connection": "2a6c273f.a6a988",
        "name": "Get temperature",
        "action": "getTemperature",
        "x": 380,
        "y": 240,
        "wires": [
            [
                "8076b1c2.b92e2"
            ]
        ]
    },
    {
        "id": "bda1dd04.d41f8",
        "type": "influxdb out",
        "z": "d4b20020.5f9b2",
        "influxdb": "c038e80e.695a38",
        "name": "",
        "measurement": "fritz_dect",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1250,
        "y": 180,
        "wires": []
    },
    {
        "id": "bf4dba5e.a0ec58",
        "type": "link in",
        "z": "d4b20020.5f9b2",
        "name": "",
        "links": [
            "a4eaf74b.049098"
        ],
        "x": 235,
        "y": 40,
        "wires": [
            [
                "d93616b2.6780a8"
            ]
        ]
    },
    {
        "id": "a9930154.cd9e7",
        "type": "function",
        "z": "d4b20020.5f9b2",
        "name": "Prepare power for influxdb",
        "func": "const fields = {\n    \"power\": msg.payload\n};\nconst tags = {\n    'ain': msg.ain\n};\nreturn {\n    'payload': [fields, tags]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 120,
        "wires": [
            [
                "a18e7272.a9a49",
                "bda1dd04.d41f8"
            ]
        ]
    },
    {
        "id": "a18e7272.a9a49",
        "type": "debug",
        "z": "d4b20020.5f9b2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba140c61.39a4d",
        "type": "function",
        "z": "d4b20020.5f9b2",
        "name": "Prepare energy for influxdb",
        "func": "const fields = {\n    \"energy\": msg.payload\n};\nconst tags = {\n    'ain': msg.ain\n};\nreturn {\n    'payload': [fields, tags]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 640,
        "y": 180,
        "wires": [
            [
                "d1a64b39.1a7348",
                "bda1dd04.d41f8"
            ]
        ]
    },
    {
        "id": "d1a64b39.1a7348",
        "type": "debug",
        "z": "d4b20020.5f9b2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "8076b1c2.b92e2",
        "type": "function",
        "z": "d4b20020.5f9b2",
        "name": "Prepare temperature for influxdb",
        "func": "const fields = {\n    \"temperature\": msg.payload\n};\nconst tags = {\n    'ain': msg.ain\n};\nreturn {\n    'payload': [fields, tags]\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "78fe9ab1.dfdbd4",
                "bda1dd04.d41f8"
            ]
        ]
    },
    {
        "id": "78fe9ab1.dfdbd4",
        "type": "debug",
        "z": "d4b20020.5f9b2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "2a6c273f.a6a988",
        "type": "fritz-api",
        "name": "FritzBox Cable",
        "host": "http://fritz.box",
        "strictSSL": false
    },
    {
        "id": "c038e80e.695a38",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "database": "db0",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x"
    }
]
