nodered/flows/fritz-dect-200-to-influxdb.json
[
  {
      "id": "d4b20020.5f9b2",
      "type": "tab",
      "label": "Fritz DECT 200 to Influx",
      "disabled": false,
      "info": ""
  },
  {
      "id": "b937d1dc.0d101",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "2a6c273f.a6a988",
      "name": "Get power in watt",
      "action": "getSwitchPower",
      "x": 610,
      "y": 120,
      "wires": [
          [
              "701d0565.27abbc"
          ]
      ]
  },
  {
      "id": "d93616b2.6780a8",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "2a6c273f.a6a988",
      "name": "Get state",
      "action": "getSwitchState",
      "x": 380,
      "y": 40,
      "wires": [
          [
              "779fd0a6.788d8"
          ]
      ]
  },
  {
      "id": "779fd0a6.788d8",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "Return if plug is on",
      "func": "if (msg.payload) {\n    return msg;\n}",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 130,
      "y": 120,
      "wires": [
          [
              "a35cb878.8c11a8",
              "736e7d4a.98abf4",
              "76b2b3f5.a01d4c",
              "a314035.fee54"
          ]
      ]
  },
  {
      "id": "35f4cb26.1b6634",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "Prepare for influxdb",
      "func": "const tags = {\n    'ain': msg.ain\n};\nreturn {\n    'payload': [msg.payload, tags]\n};",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 990,
      "y": 240,
      "wires": [
          [
              "e03c26e9.024e68",
              "bda1dd04.d41f8"
          ]
      ]
  },
  {
      "id": "fb4f479b.4d8e28",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "2a6c273f.a6a988",
      "name": "Get energy in Wh",
      "action": "getSwitchEnergy",
      "x": 610,
      "y": 200,
      "wires": [
          [
              "701d0565.27abbc"
          ]
      ]
  },
  {
      "id": "2007e426.6aea0c",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "2a6c273f.a6a988",
      "name": "Get temperature",
      "action": "getTemperature",
      "x": 600,
      "y": 280,
      "wires": [
          [
              "701d0565.27abbc"
          ]
      ]
  },
  {
      "id": "975197c.6ad6f68",
      "type": "fritz-outlet",
      "z": "d4b20020.5f9b2",
      "connection": "2a6c273f.a6a988",
      "name": "Get state",
      "action": "getSwitchState",
      "x": 580,
      "y": 360,
      "wires": [
          [
              "701d0565.27abbc"
          ]
      ]
  },
  {
      "id": "701d0565.27abbc",
      "type": "join",
      "z": "d4b20020.5f9b2",
      "name": "",
      "mode": "custom",
      "build": "object",
      "property": "payload",
      "propertyType": "msg",
      "key": "topic",
      "joiner": "\\n",
      "joinerType": "str",
      "accumulate": false,
      "timeout": "",
      "count": "4",
      "reduceRight": false,
      "reduceExp": "",
      "reduceInit": "",
      "reduceInitType": "num",
      "reduceFixup": "",
      "x": 830,
      "y": 240,
      "wires": [
          [
              "35f4cb26.1b6634"
          ]
      ]
  },
  {
      "id": "e03c26e9.024e68",
      "type": "debug",
      "z": "d4b20020.5f9b2",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 1210,
      "y": 160,
      "wires": []
  },
  {
      "id": "a35cb878.8c11a8",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "topic \"power\"",
      "func": "msg.topic = \"power\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 370,
      "y": 120,
      "wires": [
          [
              "b937d1dc.0d101"
          ]
      ]
  },
  {
      "id": "736e7d4a.98abf4",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "topic \"energy\"",
      "func": "msg.topic = \"energy\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 380,
      "y": 200,
      "wires": [
          [
              "fb4f479b.4d8e28"
          ]
      ]
  },
  {
      "id": "76b2b3f5.a01d4c",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "topic \"temperature\"",
      "func": "msg.topic = \"temperature\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 390,
      "y": 280,
      "wires": [
          [
              "2007e426.6aea0c"
          ]
      ]
  },
  {
      "id": "a314035.fee54",
      "type": "function",
      "z": "d4b20020.5f9b2",
      "name": "topic \"state\"",
      "func": "msg.topic = \"state\";\nreturn msg;",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 370,
      "y": 360,
      "wires": [
          [
              "975197c.6ad6f68"
          ]
      ]
  },
  {
      "id": "bda1dd04.d41f8",
      "type": "influxdb out",
      "z": "d4b20020.5f9b2",
      "influxdb": "c038e80e.695a38",
      "name": "",
      "measurement": "fritz_dect",
      "precision": "",
      "retentionPolicy": "",
      "database": "database",
      "precisionV18FluxV20": "ms",
      "retentionPolicyV18Flux": "",
      "org": "organisation",
      "bucket": "bucket",
      "x": 1010,
      "y": 320,
      "wires": []
  },
  {
      "id": "bf4dba5e.a0ec58",
      "type": "link in",
      "z": "d4b20020.5f9b2",
      "name": "",
      "links": [
          "a4eaf74b.049098"
      ],
      "x": 235,
      "y": 40,
      "wires": [
          [
              "d93616b2.6780a8"
          ]
      ]
  },
  {
      "id": "2a6c273f.a6a988",
      "type": "fritz-api",
      "name": "FritzBox Cable",
      "host": "http://fritz.box",
      "strictSSL": false
  },
  {
      "id": "c038e80e.695a38",
      "type": "influxdb",
      "hostname": "influxdb",
      "port": "8086",
      "protocol": "http",
      "database": "db0",
      "name": "InfluxDB",
      "usetls": false,
      "tls": "",
      "influxdbVersion": "1.x"
  }
]
