nodered/flows/miflora.flow.json
[
  {
      "id": "8dcfb5f9.6206e8",
      "type": "tab",
      "label": "Miflora",
      "disabled": false,
      "info": ""
  },
  {
      "id": "ccfd0ef2.c5afb",
      "type": "mqtt in",
      "z": "8dcfb5f9.6206e8",
      "name": "",
      "topic": "/home/miflora",
      "qos": "2",
      "datatype": "auto",
      "broker": "5da78d9f.208014",
      "x": 320,
      "y": 220,
      "wires": [
          [
              "588d554.5402dac",
              "18caa32a.1b3f7d",
              "45adf5c7.ab6a0c"
          ]
      ]
  },
  {
      "id": "b0ebdbe1.171a98",
      "type": "debug",
      "z": "8dcfb5f9.6206e8",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 770,
      "y": 160,
      "wires": []
  },
  {
      "id": "588d554.5402dac",
      "type": "function",
      "z": "8dcfb5f9.6206e8",
      "name": "Prepare for influxdb",
      "func": "const fields = JSON.parse(msg.payload);\nconst tags = {\n    'sensor': fields.name\n};\ndelete fields.name;\nreturn {'payload': [fields, tags]};",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 550,
      "y": 220,
      "wires": [
          [
              "b0ebdbe1.171a98",
              "b0216ac1.1ad8e8"
          ]
      ]
  },
  {
      "id": "18caa32a.1b3f7d",
      "type": "debug",
      "z": "8dcfb5f9.6206e8",
      "name": "",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "false",
      "statusVal": "",
      "statusType": "auto",
      "x": 530,
      "y": 160,
      "wires": []
  },
  {
      "id": "b0216ac1.1ad8e8",
      "type": "influxdb out",
      "z": "8dcfb5f9.6206e8",
      "influxdb": "c038e80e.695a38",
      "name": "",
      "measurement": "miflora",
      "precision": "",
      "retentionPolicy": "",
      "x": 800,
      "y": 220,
      "wires": []
  },
  {
      "id": "45adf5c7.ab6a0c",
      "type": "function",
      "z": "8dcfb5f9.6206e8",
      "name": "Battery check",
      "func": "const fields = JSON.parse(msg.payload);\nconst battery = Number(fields.battery);\nconst noValue = isNaN(battery);\nif (noValue || battery < 50) {\n    msg.payload = \"Miflora battery warning for \" + fields.name + \". Current value is \";\n    if (noValue) {\n        msg.payload += \"not present\";\n    } else {\n        msg.payload += battery;\n    }\n    msg.payload += \".\";\n    return msg;\n}",
      "outputs": 1,
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "x": 540,
      "y": 280,
      "wires": [
          [
              "e84696ef.559828"
          ]
      ]
  },
  {
      "id": "3ec6832c.eed00c",
      "type": "discord-send-messages",
      "z": "8dcfb5f9.6206e8",
      "name": "Publish to Discord",
      "channel": "smarthome",
      "token": "",
      "x": 1030,
      "y": 280,
      "wires": []
  },
  {
      "id": "e84696ef.559828",
      "type": "delay",
      "z": "8dcfb5f9.6206e8",
      "name": "",
      "pauseType": "rate",
      "timeout": "5",
      "timeoutUnits": "seconds",
      "rate": "1",
      "nbRateUnits": "1",
      "rateUnits": "hour",
      "randomFirst": "1",
      "randomLast": "5",
      "randomUnits": "seconds",
      "drop": true,
      "x": 770,
      "y": 280,
      "wires": [
          [
              "3ec6832c.eed00c"
          ]
      ]
  },
  {
      "id": "5da78d9f.208014",
      "type": "mqtt-broker",
      "name": "mosquittoe",
      "broker": "mosquitto",
      "port": "1883",
      "clientid": "",
      "usetls": false,
      "compatmode": false,
      "keepalive": "60",
      "cleansession": true,
      "birthTopic": "",
      "birthQos": "0",
      "birthPayload": "",
      "closeTopic": "",
      "closeQos": "0",
      "closePayload": "",
      "willTopic": "",
      "willQos": "0",
      "willPayload": ""
  },
  {
      "id": "c038e80e.695a38",
      "type": "influxdb",
      "hostname": "influxdb",
      "port": "8086",
      "protocol": "http",
      "database": "db0",
      "name": "InfluxDB",
      "usetls": false,
      "tls": "",
      "influxdbVersion": "1.x"
  }
]
